@keyframes fadeIn {
  0% {
    background-color: rgba(0,0,0,0);
  }

  100% {
    background-color: rgba(0,0,0,0.2);
  }
}

.animatable {
  display: inline-block;
  padding: 20px;
  animation: fadeIn 0.2s linear;
  animation-direction: forward;
}
